:global {
  body {
    margin: 0;
    padding: 20px;
    font-family: Helvetica, Arial, sans-serif;
  }

  #root {
    max-width: 1000px;
    margin: 0 auto;
  }
}

.mainHeader {
  margin-bottom: 20px;
}
